/**
 * Custom stack template stuff
 * 
 * Author:  Anshul Kharbanda
 * Created: [Creation Date]
 */
* {
    font-family: 'Segoe UI', 
        Tahoma, Geneva, 
        Verdana, sans-serif;
}

#webgl-canvas {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
}