/**
 * Custom stack template stuff
 * 
 * Author:  Anshul Kharbanda
 * Created: [Creation Date]
 */
* {
    font-family: 'Segoe UI', 
        Tahoma, Geneva, 
        Verdana, sans-serif;
}

#app {
    text-align: center;
}

#webgl-canvas {
    width: 100%;
    max-width: 1280px;
}